{%extends 'base.html'%}

{%block title%}Upload Dataset{%endblock%}

{%block content%}
<div class="describe_page describe_page_feature">
    <h1 class="uploaded_title">Describe your Feature</h1>
    <form method="post" enctype="multipart/form-data" class="uploaded_style form_group form-spacing">
        <div>
            <p class="uploaded_title" ><strong>File Name:</strong> {{filename}}</p>
        </div>
        <div class="table-styling">
            {{data | safe}}
        </div>

        <div class="space-between form-spacing">
            <label for="feature_name"><strong>Feature Name</strong></label>
            <input type="text" id="feature_name" name="feature_name" placeholder="Enter feature name" required class="form_input describe_input">
        </div>

        <div class="space-between form-spacing">
            <label for="feature_info"><strong>Feature Info</strong></label>
            <textarea name="feature_info" id="feature_info" placeholder="Enter Feature Info" required class="form_input describe_input"></textarea>
        </div>

        <button type="submit" class="link_button register form_button form-spacing">Submit</button>
    </form>
</div>
{%endblock%}