{%extends 'base.html'%}

{%block title%}Home{%endblock%}

{%block content%}
<div class="hero">
    <div class="hero_text">
        <h3 class="hero_header">Unlock Your Data's Potential</h3>
        <p class="hero_subheading">A Secure Marketplace that Streamlines the Process of Matching Data Sellers and Buyers</p>
        <a class="link_button register learn_more"href="">Learn More</a>
    </div>
</div>
<div class="descriptions"> 
    <div class="description">
        <h3 class="description_title">Auto Machine Learning Algorithm</h3>
        <p class="description_text">Using our ML Algorithms, we can calculate how good a dataset currently is at predicting the required target. The same algorithms are used to assess if any features actually improve your current model.</p>
    </div>
    <div class="description">
        <h3 class="description_title">Using AI models to Match Data Buyers and Sellers</h3>
        <p class="description_text">Our AI models are able to find suitable matches for data sellers and buyers, based on the descriptions and tags provided.</p>
    </div>
    <div class="description">
        <h3 class="description_title">Using Fair Payment Model</h3>
        <p class="description_text">Sellers are incentivised to provide the best data because a higher increase in a buyers model prediction,  the higher the payment. Payment is spread fairly across all contributing data sellers using our ‘Fair Payment Model’.</p>
    </div>
</div>
{%endblock%}