{%extends 'base.html'%}

{%block title%}Home{%endblock%}

{%block content%}
<h1 align="center">Home</h1>
<p align="center">With data and machine learning models becoming more and more valuable, how can we connect buyers and sellers of data in a protected and secure way? How can we also streamline the process of finding suitable support agents by searching and matching buyers and sellers?</p>
<br>
<p align="center">Using a federated learning model, our software business revolutionizes the way data buyers and sellers connect while ensuring the utmost protection and security. We understand that in today's data-driven world, valuable insights lie within vast amounts of data, and our platform serves as the bridge between those who possess the data and those who seek it.</p>
<br>
<p align="center">Imagine a marketplace where data providers can securely offer their data while maintaining complete control over its privacy. Our federated learning approach ensures that data remains decentralized and never leaves the data provider's premises. This way, sensitive information stays protected, and data providers have full visibility and ownership over their data throughout the entire process.
</p>
<br>
<p align="center">For data buyers, our platform offers a streamlined experience in finding and accessing the most relevant and valuable support features. Using advanced search and matching algorithms, we enable data buyers to discover support features that align precisely with their needs, fueling their machine learning models and driving their business forward.
</p>
<br>
<p align="center">To incentivize support agents and ensure top-notch service, we implement a fair payment model. We pay support agents based on their performance and the increase in prediction accuracy achieved from the proposed task. This encourages agents to continually improve their data. It's a win-win situation where both support agents and buyers benefit from the highest level of expertise and quality service.</p>
<br>
<p align="center">In summary, our software business harnesses the potential of federated learning to create a secure and efficient marketplace for data exchange. By connecting buyers and sellers in a protected environment, streamlining the process of finding suitable support agents through our own machine learning models/matching algorithms, and implementing a performance-based payment model, we empower businesses to unlock the true value of their data and accelerate their machine learning initiatives. With our platform, data becomes a valuable asset that drives innovation and growth in a trusted ecosystem.</p>
{%endblock%}