{%extends 'base.html'%}

{%block title%}Login{%endblock%}

{%block content%}
<div class="login_page">
    <h1 class="centre_title">Login Page</h1>
    <form class="login_form" method="post">
        <div class="form_group">
            <label class="form_label" for="email">Email Address</label>
            <input class="form_input" type="email" name="email" id="email" placeholder="Enter email">
        </div>
        <div class="form_group">
            <label class="form_label" for="password">Password</label>
            <input class="form_input" type="password" name="password" id="password" placeholder="Enter password">
        </div>
        <button class="link_button register form_button" type="submit">Sign In</button>
    </form>
</div>

{%endblock%}