{%extends 'base.html'%}

{%block title%}Login{%endblock%}

{%block content%}
<h1 align="center">Login Page</h1>
<form method="post">
    <div>
        <div>
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" placeholder="Enter email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter password">
        </div>
    </div>
    <br>
    <button type="submit">Log In</button>
</form>
{%endblock%}