{%extends 'base.html'%}

{%block title%}Profile{%endblock%}

{%block content%}
<h1 align="center">Profile</h1>
<ul id="datasets">
    {%if user.datasets | length < 1 %}
        <p>Hi {{user.first_name.capitalize()}}, you have no uploaded datasets</p>
    {%endif%}
    {%for dataset in user.datasets%}
    <li>Dataset Name: {{dataset.dataset_name}}
        <button type="button" class="close" onclick="deleteDataset({{dataset.id}})">
            <span>&times;</span>
        </button>
        <button type="button" onclick="editDataset({{dataset.id}})">
            <span style="font-size:20px">&#9999;</span>
        </button>
        <ul>
            <li>Info: {{dataset.info}}</li>
            <li>Filepath: {{dataset.file_path}}</li>
            <li>Model Type: {{dataset.model_type.capitalize()}}</li>
            <li>Target: {{dataset.target}}</li>
            <li>Public Bid: {{dataset.public_bid}}</li>
            <li>Tags: {{dataset.tags}}</li>
            {% if dataset.model_type == 'classification'%}
                <li>Accuracy: {{dataset.result}}</li>
            {%elif dataset.model_type == 'regression'%}
                <li>RMSE: {{dataset.result}}</li>
            {%endif%}
            <li>Date Uploaded: {{dataset.date}}</li>
        </ul>
    </li>
    <br>
    {%endfor%}
    {%if user.features | length < 1 %}
        <p>Hi {{user.first_name.capitalize()}}, you have no uploaded features</p>
    {%endif%}
    {%for feature in user.features%}
    <li>Feature Name: {{feature.feature_name}}
        <button type="button" class="close" onclick="deleteFeature({{feature.id}})">
            <span>&times;</span>
        </button>
        <button type="button" onclick="editDataset({{feature.id}})">
            <span style="font-size:20px">&#9999;</span>
        </button>
        <ul>
            <li>Info: {{feature.info}}</li>
            <li>Filepath: {{feature.file_path}}</li>
            <li>Tags: {{feature.tags}}</li>
            <li>Date Uploaded: {{feature.date}}</li>
        </ul>
    </li>
    <br>
    {%endfor%}
</ul>

<button onclick="location.href='{{url_for('search_algo.search', _external=True)}}'" type="button">Click to Run Analysis</button>
{%endblock%}
