<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Email</title>
</head>
<body>
    <h1 align="center">My Platform</h1>
    <h3 align="center">Thank you for Registering</h3>
    <h4>Here is more information on your next steps:</h4>
    <p>Upload your ML Task</p>
    <ul>
        <li>
            <p>You are able to upload your dataset onto our secured and trusted platform and we will
                endeavour to find you the most suitable support features that will compliment your task using our unique searching algorithms.
            </p>
            <p>Even better is that you do not have to pay a thing unless you are satisfied with the improvements in your ML predictions</p>
            <div style="margin:auto; text-align: center;">
                <a href="{{dataset_link}}" align="center" appearance="button" 
                style="color: white;
                background-color: blue;
                margin: 10px;
                padding: 10px;
                border-radius: 15px;
                position: center;
                text-decoration: none;">Click to Upload Your Task</a>
            </div>
        </li>
    </ul>
    <p>Upload any Support Features</p>
    <ul>
        <li>
            <p>You are able to upload support features and using our unique searching algorithm, we will aim to match your data to suitable tasks</p>
            <p>If you are successfully matched to a buyer, you will be paid according to how much improvement your data provides to the buyers task</p>
            <div style="margin:auto; text-align: center;">
                <a href="{{feature_link}}" align="center" appearance="button" 
                style="color: white;
                background-color: blue;
                margin: 10px;
                padding: 10px;
                border-radius: 15px;
                position: center;
                text-decoration: none;">Click to Upload your Support Feature</a>
            </div>
        </li>
    </ul>
</body>
</html>