{%extends 'base.html'%}

{%block title%}Sign Up{%endblock%}

{%block content%}
<h1 align="center">Sign-up Page</h1>
<form method="post">
    <div>
        <div>
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" placeholder="Enter First Name">
        </div>
        <div>
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" placeholder="Enter email">
        </div>
        <div>
            <label for="password1">Password</label>
            <input type="password" name="password1" id="password1" placeholder="Enter password">
        </div>
        <div>
            <label for="password2">Confirm Password</label>
            <input type="password" name="password2" id="password2" placeholder="Confirm password">
        </div>
    </div>
    <br>
    <button type="submit">Sign Up</button>
</form>
{%endblock%}