{%extends 'base.html'%}

{%block title%}Upload Feature{%endblock%}

{%block content%}
<div class="login_page">
    <h1 class="center_title">Upload your Feature</h1>
    <div class="uploaded_style container-styling">
        <form method="post" enctype="multipart/form-data">
            <div class="center">
                <label for="file" class="drop-container" id="dropcontainer">Upload Feature:
                    <span class="drop-title">Drop Feature Here</span>
                    or
                    <input type="file" id="file" name="file" accept=".csv" required>
                </label>
            </div>
            <div><button class="link_button register form_button" type="submit">Continue</button></div>
        </form>
    </div>
</div>

{%endblock%}